@import "./../../common/mordern-reset.css";

div:not(#awebChomeHelper) {
  font-size: 3rem;
  border: 1px solid currentColor;
  padding: 10px;
}

/* 요소 박스 위치 지정 */
.percentage-value{
  border: 1px solid currentColor;
   padding: 10px !important;
   margin: 1em !important;
   font-size: 1em;
   width: 200px;
   inline-size: 200px;
   p{
    margin:0;
    padding:10%;
    border: inherit;
    position:relative;
    background-color: tomato;
    inset-inline-start: 50%;        
   }
}

.static {
  background: yellow;
}

.fixed {
  background: hsla(250 50% 50% / 0.2);
  position: fixed;
  inset-inline-end: 0;
  inset-block-end: 0;
}

.relative-wrapper {
  position: relative;url(about:blank#blocked)
  inset-block-start: 50px;
  inset-inline-start: 100px;
}

.absolute-wrapper {
  position: absolute;
}

.absolute {
  inline-size: 650px;
  background: sandybrown;
  position: absolute;
  inset-inline-start: 100px;
  inset-block-start: 250px;
}

.sticky {
  background: aquamarine;
  padding: 20px;
  margin-block: 100px;
  position: sticky;
  inset-block-start: 0;
}
